.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 282px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__label {
  display: flex;
  background: #fff;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  background: transparent url(../images/heart.svg) center no-repeat;
  transition: 0.8s;
  overflow: hidden;
  flex-shrink: 0;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__label-text {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 219;
  height: 29;
  flex-grow: 1;
}
