.cards {
  margin-top: 72px;
}
.card__list {
  display: grid;
  list-style: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding:0;
}

@media screen and (max-width: 480px) {
  .cards {
    margin-top: 36px;
  }
}


