.modal__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.edit-modal__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  max-height: 0;
}

.create-modal__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal__input-error_active {
  opacity: 1;
}