.footer {
  margin-top: 67px;
  padding-bottom: 60px;
}

.footer__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: auto;
  }
  .footer__title {
    line-height: 17px;
    font-size: 14px;
    margin-top: 48px;
    margin-left: 19px;
    margin-bottom: 36px;
    margin-right: 19px; 
  }
}
