.header {
  max-width: 880px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  left: 200px;
  top: 45px;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__logo {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 126px;
    height: 24px;
  }
}
