.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  pointer-events: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 430px;
  height: 330px;
  padding: 0;
  position: relative;
  border-radius: 10px;
}

.modal__open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__title {
  color: #000;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  margin-left: 17px;
  margin-right: 64px;
  line-height: 29px;
  padding: 20px;
}

.modal__input {
  margin: 0 auto;
  margin-left: 36px;
  margin-right: 36px;
  width: 358px;
  height: 27.26px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid #000000;
}

.modal__input:valid {
  border-bottom: 1px solid green;
}

.modal__input:invalid {
  border-bottom: 1px solid red;
}

.modal__input-profile-name {
  color: #000;
}

.modal__input-card-title {
  color: #000;
}

.modal__close {
  position: absolute;
  top: -36px;
  right: -38px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0;
  cursor: pointer;
  background: transparent url(../images/close-button.svg) center no-repeat;
  transform: rotate(-90deg);
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  background: #000;
  color: #fff;
  margin: 0 auto;
  border-radius: 2px;
  margin-left: 36px;
  margin-right: 36px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  margin-top: 27px;
  border: 0;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__content-image {
  background: transparent;
  display: flex;
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: auto;
  width: auto;
  object-fit: cover;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__preview-image {
  width: 100%;
  max-height: 75vh;
}

.modal__caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}

.modal__close-preview {
  position: absolute;
  top: -44px;
  right: -45px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0;
  cursor: pointer;
  background: transparent url(../images/close-button.svg) center no-repeat;
  transform: rotate(-90deg);
}

.modal__input-error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  margin-left: 35px;
  margin-top: 5px;
  /* margin-bottom: 13px; */
}

.modal__button-disabled {
  border: 1px solid #000;
  cursor: not-allowed;
  border-radius: 2px;
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .modal {
    flex-direction: column;
    align-items: center;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .modal__open {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .modal__title {
    width: 238px;
    height: 22px;
    margin-left: 0px;
  }

  .modal__input {
    margin: 0 auto;
    width: 238px;
    height: 14px;
    margin-left: 19px;
    padding-bottom: 13px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 288px;
  }

  .modal__close-preview {
    top: -39px;
    right: -20px;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 21px;
  }

  .modal__input-error {
    margin-left: 18px;
  }
}
