
.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-rows: 
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto; 
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/edit_button.png) center no-repeat;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  background: transparent url(../images/add_button.png) center no-repeat;  
  margin-left: auto;
}

.profile__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__description {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
