.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-rows:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 9px 17px;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/edit_button.png) center no-repeat;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  background: transparent url(../images/add_button.png) center no-repeat;
  margin-left: auto;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    padding-top: 0;
    align-items: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .profile__image {
    margin-bottom: 26.25px;
    margin-right: 0;
    margin-top: 38.25px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    margin-left: 0;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
    margin-top: 36px;
  }
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}

@media screen and (max-width: 585px) {

}

@media screen and (max-width: 1140px) {
  
}